<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
    <button class="btn btn-success" ng-click="openModal()" ng-if="user_type == 'Band'">Add new event</button>
    <button class="btn btn-danger" ng-click="logout()">Logout</button>
    <h1 id="fh5co-logo"><a href="/"><img src="assets/images/logo.png"></a></h1>
    <nav id="fh5co-main-menu" role="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#!genre" ng-if="user_type == 'Band'" >Genre</a></li>
            <li class="fh5co-active"><a href="#!about">About</a></li>
        </ul>
    </nav> 
</aside>

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">O najboljim bendovima na svijetu
            <span>na cijelom svijetu</span>
        </h2>

        <div class="fh5co-narrow-content">
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <h1 class="fh5co-heading-colored">Šta mi to radimo i kako nas kontaktirati</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                    <p class="fh5co-lead">Naš cilj ovog projekta jeste da vama olakšamo odabir gdje i na kakvu muziku izaći</p>
                </div>
                <div class="col-md-7 col-md-push-1">
                    <div class="row">
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                            <p>Uz još upotpuniji doživljaj i korištenje aplikacije skinite mobilnu aplikaciju preko ovog qr koda :</p>
                        </div>
                        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft"> 
                            <h1 id="fh5co-logo"><img src="assets/images/qr.png"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

