<!-- Navbar -->
<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
    <button class="btn btn-success" ng-click="openModal()" ng-if="user_type == 'Band'">Add new event</button>
    <button class="btn btn-danger" ng-click="logout()">Logout</button>
    <h1 id="fh5co-logo"><a href="/"><img src="assets/images/logo.png"></a></h1>
    <nav id="fh5co-main-menu" role="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="fh5co-active"><a href="#!genre">Genre</a></li>
            <li><a href="#!about">About</a></li>
        </ul>
    </nav> 
</aside>

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Najbolji bendovi na svijetu
            <span>na cijelom svijetu</span>
         </h2>  
         <div ng-repeat="bnd_cnt in bandcount">
            <input  type="checkbox" ng-click="includeGenre(bnd_cnt._id)" />   {{bnd_cnt._id}} ({{bnd_cnt.cnt}})
         </div>
            <br><br>

       <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item" ng-repeat="user in users | filter :genreFilter">
            <a>
                <img src="assets/images/this.png" class="img-responsive">
                <p>Band name: {{user.name}}</p>
                <p>Genre: {{user.genre}}</p>
            </a>
        </div>
    </div>
 </div>